* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: youg serif;
}
body {
background-color: pink;
}
p {
    font-size: 15px;
    text-align: start;
    line-height: 20px;
}
h1 {
    font-weight: 800;
    margin-top: 10px;
    text-align: start;
}
h2{
    text-align: start;
}
.caixa-maior {
    background-color: white;
    width: 800px;
    border-radius: 20px;
    padding: 30px;
    display: block;
    margin: auto;
    margin-top: 30px;
    
}
.caixa-menor {
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px 30px;
    align-items: center;
    border-radius: 5px;
}

img {
   width: 700px;
   border-radius: 10px;
}
table {
    border: solid 2px;
    align-items: center;
    column-gap: normal;
}